body {
  background-color: black;
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: white;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
p {
  font-size: 21px;
  color: gray;
}
.link {
  color: Aquamarine;
  font-size: 16px;
  font-weight: normal;
}
.right {
  text-align: right;
}
img {
  text-align: center;
}
